{% extends "template.html" %}


{% block content %}

<h3> About </h3>
<p>The <b>Staffing Advisor</b> web application serves as an example showing how to use the developed matching engine for assisting in the creation of SOWs.
<br><br>
It guides the user in the SOW creation process by going through the following stages:
<br>1. Input of general job title and job description.
<br>2. Selection of skills based on the matching results.
<br>3. Specification of requirements based on selected skills and matching results.
<br><br>
In the end, the user has the option to give feedback about the service. </p>

{% endblock %}

